@use "../../styles/variables" as *;
@use "../../styles/components" as *;
.inscriptionSection {
  @extend .sectionPadding;
  background-color: #ffffff;
  color: $dark-text-color;
  text-align: center;
  z-index: 10;

  .sectionTitle {
    font-size: 2rem;
    margin-bottom: 1.5rem;

    @media (min-width: $mobile-breakpoint) {
      font-size: 2.5rem;
    }
  }

  .sectionSubtitle {
    font-size: 1.25rem;
    color: #4b5563;
    margin-bottom: 2rem;
  }
}
