@use "../../styles/variables" as *;
@use "../../styles/components" as *;
@use "sass:color";

.philosophy {
  @extend .sectionPadding;
  text-align: center;
  background-color: $primary-color;
  color: #ffffff;
  box-shadow: 0 -4px 12px rgba(0, 0, 0, 0.3), 0 4px 12px rgba(0, 0, 0, 0.3);
}

.sectionTitle {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.textCenter {
  text-align: center;
  margin-bottom: 3rem;
}

.philosophyContent {
  max-width: 48rem;
  margin: 0 auto;
}

.philosophyText {
  color: #e5e7eb;

  p {
    margin-bottom: 1.5rem;
  }
}

